@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.insight-shadow{
border-radius: 1px;
background: #ffffff;
box-shadow: inset -5px -5px 4px #f5f5f5,
            inset 5px 5px 4px #ffffff;
}
